<!DOCTYPE html>
<html>
<head>
  <title>Camera App</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="static/css/pure-min.css" />
</head>
<body>
  <div class="pure-g-r" style="margin-left:10px;">
    <div class="pure-u-1">
      <h1>Camera operatoin</h1>
      <p>Mode： <span id="mode-status"></span></p>
      <p><button id="picture-button" class="pure-button" type="button" onclick="modePictureHandler()">Picture</button> <button id="video-button" class="pure-button" type="button" onclick="modeVideoHandler()">Video</button></p>
      <p>Camera status： <span id="camera-status"></span></p>
      <p><button class="pure-button" type="button" onclick="startHandler()">Start</button> <button class="pure-button" type="button" onclick="stopHandler()">Stop</button></p>
    </div>
    <div class="pure-u-1">
      <h1>Viewer</h1>
      <p><button class="pure-button" type="button" onclick="transferHandler()">transfer</button></p>
      <div id="pictures">
      </div>
    </div>
  </div>
  <script src="static/js/index.js"></script>
</body>
</html>
