<!DOCTYPE html>
<html>
<head>
  <title>Camera App</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
</head>
<body>
  <div class="pure-g-r" style="margin-left:10px;">
    <div class="pure-u-1">
      <h1>Camera operatoin</h1>
      <p>Mode：</p>
      <p><button class="pure-button" type="button" name="name" value="value">Camera</button> <button class="pure-button" type="button" name="name" value="value">Video</button></p>
      <p>Camera status： <span id="camera-status"></span></p>
      <p><button class="pure-button" type="button" onclick="startHandler()">Start</button> <button class="pure-button" type="button" onclick="stopHandler()">Stop</button></p>
    </div>
    <div class="pure-u-1">
      <h1>Viewer</h1>
      <p><button class="pure-button" type="button" name="name" value="value">transfer</button></p>
    </div>
  </div>
  <script src="static/js/index.js"></script>
</body>
</html>
